{% extends "base.html" %}


{% block content %}
	<h1> Welcome to WIRC+Pol! </h1>
	<body>
		<hr>
		<a href="/WIRC_POL/index.html">Examine the Database Structure</a>
		<hr>
		<a href="/standards">View and Query Standards</a>
		<hr>
		<a href="/references">View and Query References</a>
		<hr>
		<a href="/targets">View and Query Targets</a>
		<hr>
		<a href="/rawfiles">View and Query Raw Files</a>
		<hr>
		<a href="/calibfiles">View and Query Calibrated Files</a>
		<hr>
		<a href="/darks">View and Query Master Darks</a>
		<hr>
		<a href="/flats">View and Query Master Flats</a>
		<hr>
		<a href="/skies">View and Query Master Skies</a>
		<hr>
		<a href="/search">Search the Target Database</a>
		<hr>
		<a href="/query_db">Query the Entire WIRC_POL Database</a>
		<hr>
		<a href="/plot_query">Plot a Numerical Query Relationship</a>
		<hr>
		<a href="/fc">Generate a Finding Chart</a>
		<hr>
		<a href="/guide">User Guide</a>
		<hr>
		<br>
		<p3><a href="/auth/logout">Log Out</a></p3>
	</body>
{% endblock %}
