{% extends "base.html" %}
{% block content %}
<body>
	<form method="post">
	        <label for="query">Query WIRC_POL Database: </label>
	        <input name="query" id="query" value="{{ request.form['query'] }}" required>
	        <input type="submit" value="Submit">
	</form>
	<br>
	<form action="/plot_query" method="get">
			<button style="width:383px">Clear</button>
	</form>
	<hr>
	{% if var1 != '' and var2 != '' %}
		<div style="float:center;">
			<img src="{{ url_for('create_plot', var1=var1, var2=var2, x_label=x_label, y_label=y_label) }}">

		    <table border=1px border-spacing=0 id="values" class = "tablesorter">
			    <thead>
					<tr>
				    {% for field in fields %}
				    <th>{{ field }} </th>
				    {% endfor %}
				    </tr>
				</thead>
				<tbody>
					{% for i in range(length) %}
				    <tr>
				    	{% for x in data[i] %}
				    	<td> {{ x }} </td>
				    	{% endfor %}
				    </tr>
				    {% endfor %}
				</tbody>
		    </table>

			<script>
				$(document).ready(function(){
					$("targets").tablesorter();
				});
			</script>
		</div>
	{% endif %}
</body>
{% endblock %}
